doc
release/debug
release/release
release/Makefile
release/Makefile.Debug
release/Makefile.Release
release/object_script.basketball.Debug
release/object_script.basketball.Release
src/basketball.pro.user